
        body {
            font-family: Arial;
            width: 600px;
            margin: 40px auto;
        }
        
        input{
            padding: 8px;
            width: 300px;
        }

        button{
            padding: 8px 12px;
        }

        li {
            color: blue;
            margin-top: 7px;
        }

        .completed {
            color:gray;
            text-decoration: line-through;
        }
