
        body {
            font-family: Arial;
            width: 600px;
            margin: 40px auto;
            
        }
        
        input{
            padding: 8px;
            width: 300px;
        }

        button{
            font-size: 15px;
            width: 100px;
            padding: 8px;
            border:none;
            border-radius: 5px;
            font-weight: bold;
         
        }

        li {
            color: blue;
            margin-top: 7px;
        }

        .completed {
            color:gray;
            text-decoration: line-through;
        }

        .center{
            text-align: center;
        }
