<!DOCTYPE html>
<html>
    <head>
        <title>Edit Todo</title>
        <link rel="stylesheet" href="/app/static/login_style.css">
    </head>

    <body>
        <h1>编辑任务</h1>

        
        <input type="text" id="title">
        <button onclick="save()">保存</button>
        

        <script>
            const todoId=window.location.pathname.split("/").pop()
            fetch(`/todo/api/todo/${todoId}`)
                .then(res => res.json())
                .then(data => {
                    document.getElementById("title").value=data.title
                })

            function save() {
                const title=document.getElementById("title").value
                fetch(`/todo/edit/${todoId}`,{
                    method:"PUT",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({
                        title:title
                    })
                })
                .then(res => res.json())
                .then(data => {
                    if(data.success) {
                        location.href="/"
                    }
                })

            }
        </script>
    </body>
</html>