<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1>Todo List</h1>

  
    <input type="text" id="title" placeholder="输入任务"> 
    <button id="addBtn">添加</button>
 
    <ul id="todo-list"> </ul>

<script>
    //数据todos全局化
    let todos=[]

    //渲染函数
    function render() {
        const todoList=document.getElementById("todo-list")
        todoList.innerHTML=""    //清空
        todos.forEach(todo => {
            todoList.appendChild(createTodoItem(todo))
        })
    }

    //单个Todo组件，包含任务、完成、删除、编辑按钮。
    function createTodoItem(todo) {
        const li=document.createElement("li")
        li.className="todo-tiem"
        //title任务
        const span=document.createElement("span")
        span.textContent=todo.title
        li.appendChild(span)

        //创建完成按钮
        const completedBtn=document.createElement("button")
        if(todo.completed) {
            completedBtn.textContent="取消完成"
        }else{
            completedBtn.textContent="完成"
        }
        completedBtn.className="btn-complete"
        completedBtn.onclick=() => {
            complete(todo.todo_id)
        }
        li.appendChild(completedBtn)

        //创建删除按钮
        const deleteBtn=document.createElement("button")
        deleteBtn.textContent="删除"
        deleteBtn.className="btn-delete"
        deleteBtn.onclick=() => {
            deleteTodo(todo.todo_id)
        }
        li.appendChild(deleteBtn)

        //创建编辑按钮
        const editBtn=document.createElement("button")
        editBtn.textContent="编辑"
        editBtn.className="btn-edit"
        editBtn.onclick=() => {
            location.href=`/todo/edit/${todo.todo_id}`
        }
        li.appendChild(editBtn)

        return li

    }

        //初始化
        fetch("/todo/api/todos")
            .then(res => res.json())
            .then(data => {
                todos=data   //更新网页数据todos
                render()   //渲染页面数据
            })



        //添加任务
        const input=document.getElementById("title")

        const button=document.getElementById("addBtn")
        button.onclick=function() {
            addTodo()
        }


        function addTodo(){
            fetch("/todo/add",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({
                    title:input.value
                })
            })
                .then(response => response.json())
                .then(data => {
                    if(data.success) {
                        //添加任务成功后，浏览器发出请求。
                        //这步之后的操作与初始化的操作一样的。
                        return fetch("/todo/api/todos")
                    }
                })
                .then(res => res.json())
                .then(data => {
                    todos=data
                    render()
                })
        }

        function deleteTodo(todo_id){
            fetch(`/todo/delete/${todo_id}`,{
                method:"DELETE"
            })
                .then(response => response.json())
                .then(() => fetch("/todo/api/todos"))
                .then(res => res.json())
                .then(data => {
                    todos=data
                    render()
                })
            
        }

        function complete(todo_id){
            fetch(`/todo/complete/${todo_id}`,{
                method:"POST"
            })
                .then(response => response.json())
                .then(() => fetch("/todo/api/todos"))
                .then(res => res.json())
                .then(data => {
                    todos=data
                    render()
                })
        }


      


   

</script>
</body>
</html>
