<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
    <link rel="stylesheet" href="/app/static/login_style.css">
</head>

<body>
    <h1>注册页面</h1>

    <form action="/register" method="post">
        <p>
            用户名：
            <input type="text" name="username" required>
        </p>

        <p>
            密码：
            <input type="text" name="password" placeholder="输入8位密码" required>
        </p>

        <p class="center">
            <button type="submit">注册</button>
        </p>

    </form>
</body>

</html>